.la-wrap {
    width: 1520px; 
    margin: 100px auto;
}
.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.tit .tit-logo {
    width:250px;
}
.link-home {
    padding: 15px 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #711bff;
}
.main-carousel {
    display: flex;
}
.item-list {
    margin: 0 55px;
    flex-grow: 1;
}
.arr-btn {
    all: unset;
    width: 140px;
    padding: 16px;
    text-align: center;
    border: 3px solid #828282;
    border-radius: 36px;
    font-size: 20px;
    font-weight: 700;
    color: #828282
}
.left-btn{
    order: -1;
}